In [1]:
import pandas as pd
df_stances = pd.read_csv('train_stances.csv')
df_stances.head(10)

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree
5  'Nasa Confirms Earth Will Experience 6 Days of...      154      agree
6  Accused Boston Marathon Bomber Severely Injure...      962  unrelated
7  Identity of ISIS terrorist known as 'Jihadi Jo...     2033  unrelated
8  Banksy 'Arrested & Real Identity Revealed' Is ...     1739      agree
9      British Aid Worker Confirmed Murdered By ISIS      882  unrelated

In [2]:
df_new = df_stances.head(400)

In [3]:
df_new.to_csv('train_stancesa.csv')