In [1]:
import pandas as pd
df_train_bodies = pd.read_csv('train_bodies.csv')
df_train_bodies.head(10)

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...
5        8  There is so much fake stuff on the Internet in...
6        9  (CNN) -- A meteorite crashed down in Managua, ...
7       10  Move over, Netflix and Hulu.\nWord has it that...
8       11  We’ve all seen the traditional depictions of G...
9       13  A SOLDIER has been shot at Canada’s National W...

In [2]:
df_train_bodies.shape

(1683, 2)

In [3]:
df_train_stances = pd.read_csv('train_stances.csv')
df_train_stances.head(10)

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree
5  'Nasa Confirms Earth Will Experience 6 Days of...      154      agree
6  Accused Boston Marathon Bomber Severely Injure...      962  unrelated
7  Identity of ISIS terrorist known as 'Jihadi Jo...     2033  unrelated
8  Banksy 'Arrested & Real Identity Revealed' Is ...     1739      agree
9      British Aid Worker Confirmed Murdered By ISIS      882  unrelated

In [4]:
df_train_stances.shape

(49972, 3)

In [5]:
df_test_stances_labeled = pd.read_csv('test_stances_labeled.csv')
df_test_stances_labeled.head(10)

                                            Headline  Body ID     Stance
0  Ferguson riots: Pregnant woman loses eye after...     2008  unrelated
1  Crazy Conservatives Are Sure a Gitmo Detainee ...     1550  unrelated
2  A Russian Guy Says His Justin Bieber Ringtone ...        2  unrelated
3  Zombie Cat: Buried Kitty Believed Dead, Meows ...     1793  unrelated
4  Argentina's President Adopts Boy to End Werewo...       37  unrelated
5     Next-generation Apple iPhones' features leaked     2353  unrelated
6  Saudi national airline may introduce gender se...      192  unrelated
7  'Zombie Cat' Claws Way Out Of Grave And Into O...     2482  unrelated
8     ISIS might be harvesting organs, Iraq tells UN      250  unrelated
9  Woman has surgery to get third breast: The thr...       85  unrelated

In [6]:
df_test_stances_labeled.shape

(25413, 3)

In [7]:
df_test_stances_unlabeled = pd.read_csv('test_bodies.csv')
df_test_stances_unlabeled.head(10)

   Body ID                                        articleBody
0        1  Al-Sisi has denied Israeli reports stating tha...
1        2  A bereaved Afghan mother took revenge on the T...
2        3  CNBC is reporting Tesla has chosen Nevada as t...
3       12  A 4-inch version of the iPhone 6 is said to be...
4       19  GR editor’s Note\n\nThere are no reports in th...
5       20  “I once sent Tim an email about the quality of...
6       21  Absolutely no one was devastated when news bro...
7       28  In designing its first wearable device in the ...
8       31  The picture of a possible "Crabzilla" measurin...
9       33  Early Tuesday morning, Dornella Conner was “ri...

In [8]:
df_test_stances_unlabeled.shape

(904, 2)